/* 
 * My97 DatePicker 4.7 Skin:whyGreen
 */ 
.WdateDiv{
	width:200px;
	background-color:#fff;
	border:#B8C3C9 1px solid;
	padding:2px;
	padding-bottom:3px;
	overflow:hidden;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}

.WdateDiv #dpTitle{
	height:22px;
	padding:1px;
	border:#ffffff 1px solid;
	background: #1393DA;
	margin-bottom:2px;
}

.WdateDiv .yminput{
	margin-top:0px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#fff;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:20px;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#417FEC;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#FFD2AA;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	color:#3f3f3f;
	background-color:#FFE9D5;
	border-bottom:2px solid #fff;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;	
	color:#000000;
	background-color:#fff;
	border:#fff 1px solid;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
	background:#DFF1FB;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background:#1393DA;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#000000;
	background-color:#DFF1FB;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#1393DA;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#1393DA;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#8c8c8c;
	background-color:#f9f9f9;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;	
}

.WdateDiv .WotherDayOn{ 
	color:#8c8c8c;
	background-color:#f9f9f9;
	border:1px solid #fff;
	border-bottom:none;
	border-left:none;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:-30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
	position:relative;
	height:18px; 
	line-height:18px;
	display:inline;
	top:-2px;
}


.WdateDiv #dpTime input{
	height:18px;
	line-height:18px;
	width:24px;
	*width:18px;
	*height:15px;
	*line-height:15px;
	text-align:center;
	color:#333;
	border:#B8C3C9 1px solid;
	border-radius:2px;
    -moz-border-radius:2px;
	-webkit-border-radius:2px;
	overflow:hidden;

}

.WdateDiv #dpTime .tB{
  overflow:hidden;
  width:22px;
  height:16px;
  line-height:16px;
}

.WdateDiv #dpTime .tE{
  overflow:hidden;
  width:22px;
  height:16px;
  line-height:16px;
}

.WdateDiv #dpTime .tm{
	width:9px;
	border:0px;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
	display:none;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
	display:none
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
	display:none;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:2px;
	overflow:hidden;
}
.WdateDiv .dpButton{ 
	height:18px;
	line-height:18px;
	width:33px;
	padding:0;
	margin-top:0px;
	border:0px;
	/*border:#c5d9e8 1px solid;*/
	background-color:#1393DA;
	margin-left:2px;
	color:#ffffff;
	border-radius:2px;
    -moz-border-radius:2px;
	-webkit-border-radius:2px;
	cursor:pointer;
}
#dpTodayInput{}